@model DataAccess.Entities.Product

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@Html.HiddenFor(m => m.Id)
@foreach (var prop in ViewData.ModelMetadata.Properties.OrderBy(x => x.DisplayName))
{
    if (prop.PropertyName != "Id" && prop.PropertyName != "ProductTypeId")
    {
        <div class="form-group">
            @if (prop.PropertyName != "ImageLink")
            {
                <label>@(prop.DisplayName ?? prop.PropertyName)</label>
            }
            @switch (prop.PropertyName)
            {
                case "Description":
                case "ShortDescription":
                    @Html.TextArea(prop.PropertyName, null, new { @class = "form-control", rows = 5 })
                    break;
                case "ProductType":
                    @Html.DropDownListFor(x => x.ProductTypeId,
            (ViewBag.Types as IEnumerable<string>)
            .Select((e, i) => new SelectListItem { Value = (i + 1).ToString(), Text = e }),
            new { @class = "form-control" })
                    break;
                case "ImageLink":
                    @Html.TextBox(prop.PropertyName, null, new { @class = "hidden" })
                    break;
                default:
                    @Html.TextBox(prop.PropertyName, null, new { @class = "form-control" })
                    break;
            }
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }
}