@model DataAccess.Entities.Product

<span class="alert-danger">
    @Html.ValidationSummary()
</span>
@Html.HiddenFor(m => m.Id)
@foreach (var prop in ViewData.ModelMetadata.Properties)
{
    if (prop.PropertyName != "Id" && prop.PropertyName != "ProductTypeId")
    {
        <div class="form-group">
            <label>@(prop.DisplayName ?? prop.PropertyName)</label>
            @switch (prop.PropertyName)
            {
                case "Description":
                case "ShortDescription":
                    @Html.TextArea(prop.PropertyName, null, new { @class = "form-control", rows = 5 })
                    break;
                case "ProductType":
                    @Html.DropDownListFor(x => x.ProductTypeId,
            (ViewBag.Types as IEnumerable<string>)
            .Select((e, i) => new SelectListItem { Value = (i + 1).ToString(), Text = e }),
            new { @class = "form-control" })
                    break;
                case "ImageLink":

                    break;
                default:
                    @Html.TextBox(prop.PropertyName, null, new { @class = "form-control" })
                    break;
            }

        </div>
    }
}

