@model Web.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина|магазин струн \"EvilStrings\"";
}

<h1>Ваша корзина</h1>

@if (Model.Cart.Lines.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Товар</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
                <th class="text-right">Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@line.Product.Cost.ToString("#.00")&#8381;</td>
                    <td class="text-right">
                        @((line.Quantity * line.Product.Cost).ToString("#.00"))&#8381;
                    </td>
                    <td class="text-right">
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @Html.Hidden("productId", line.Product.Id)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-warning text-center" type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right mytext">Итого:</td>
                <td class="text-right mytext">
                    @Model.Cart.ComputeTotalValue().ToString("#0.##")&#8381;
                </td>
            </tr>
        </tfoot>
    </table>

    <a class="button" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "button" })
}
else
{
    <div class="empty-cat-sm"></div>
    <p>Корзина пуста :(</p>
}
