@model DataAccess.Entities.Product



<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Редактирование модели с Id=@Model.Id
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="row" id="productform">
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-group col-md-8">
                            <label for="Name">Наименование продукта</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Cost">Цена продукта</label>
                            @Html.TextBoxFor(x => x.Cost, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Description">Описание продукта</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-8">
                            <label for="ProductTypeId">Id типа продукта</label>
                            @Html.DropDownListFor(x => x.ProductTypeId,
                           new List<SelectListItem> {
                               new SelectListItem { Value="1", Text="Sport goods"},
                               new SelectListItem { Value="2", Text="Kids goods"},
                               new SelectListItem { Value="3", Text="Home goods"},
                               new SelectListItem { Value="4", Text="Goods for everyone"}
                           },
                           new { @class = "form-control" })
                        </div>
                        <button type="submit" id="submitBtn" class="hidden"></button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                <button type="button" id="saveBtn" class="btn btn-default">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(function () {
        $('#saveBtn').click(function () {
            $('#submitBtn').click();
        });

        $('#productform').submit(function (e) {
            e.preventDefault();

            //var formData = new FormData($('#productform')[0]);
            //formData.append($('#productform').serialize());

            $.ajax({
                url: '@Url.Action("UpdateProduct")',
                method: 'POST',
                data: $('#productform').serialize(),
                success:function(response){
                    if (response && response.IsSaved)
                    {
                        $('#productModal').modal('show');
                        window.location.href = window.location.href;
                    }
                },
                error:function(err){
                    console.log(err);
                }
            });

            return false;
        })
    })
</script>
