@model Web.Models.Login.LoginUser

@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class= "form" }))
{
    <h1>Вход в систему</h1>
    @Html.ValidationMessage("Enter")
    <br>
    <label for="UserName" class="contacts-main">Login</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "", placeholder = "User" })
    @Html.ValidationMessage("UserName", new { @class = "text-danger" })
    <br>
    <label for="Password" class="contacts-main">Password</label>
    @Html.PasswordFor(x => x.Password, new { @class = "pass", placeholder = "Password" })
    @Html.ValidationMessage("Password", new { @class = "text-danger" })
    <br>
    <br>
    <button type="submit" class="button">Войти</button>


}

